
<div class='space-y-16'>
    <div>
        <p class="text-4xl">Deposit Transactions</p>
        <p>Click on a transaction to view more details.</p>
    </div>

    <div *ngIf="isFetchingTransactions">
        <p>Loading Transactions. Please Wait...</p>
    </div>

    <div *ngIf="transactions?.length">
        <div class="w-full flex items-center 
            justify-between space-x-4 font-medium">
            <p class="w-1/3">Name</p>
            <p class="w-1/3">Amount</p>
            <p class="w-1/3">Date</p>
        </div>

        <ul>
            <li *ngFor="let transaction of transactions" class="border-b py-2">
                <a [routerLink]="'../' + transaction.id">
                    <div class="w-full flex items-center justify-between space-x-4">
                        <div class="w-1/3">
                            <p class="font-medium text-xs">
                                {{transaction?.wallet?.distributor?.firstName || 'FirstName'}}
                                {{transaction?.wallet?.distributor?.lastName || 'LastName'}}
                            </p>
                            <p class="text-gray-500">
                                @{{transaction?.wallet?.distributor?.username}}
                            </p>
                        </div>
                        <p class="w-1/3">
                            ${{transaction?.amount?.toFixed(2)}}
                        </p>
                        <p class="w-1/3">
                            {{transaction?.date}}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>