
<section style="width: 400px; max-width: 100%;" class="space-y-4">
    <header>
        <span>
            <p class="text-lg">Change Your Wallet Pin</p>
        </span>
    </header>
    <section>
        <section>
            <form [formGroup]="form" (ngSubmit)="changePin()" autocomplete="off">
                <section>
                    <mat-form-field class="w-full">
                        <mat-label>Current Pin</mat-label>
                        <input matInput required type="tel" 
                            formControlName="currentPin" minlength="4" maxlength="4" />
                        <mat-error></mat-error>
                    </mat-form-field>

                    <section class="grid grid-cols-2 gap-4">
                        <mat-form-field class="w-full">
                            <mat-label>Enter a new 4-Digit Pin</mat-label>
                            <input matInput required type="tel" 
                                formControlName="newPin"  minlength="4" maxlength="4" />
                            <mat-error></mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Repeat Pin</mat-label>
                            <input matInput required type="tel" 
                                formControlName="repeatedPin"  minlength="4" maxlength="4" />
                            <mat-error></mat-error>
                        </mat-form-field>
                    </section>
                </section>

                <section>
                    <div class="flex items-start justify-between space-x-4">
                        <div class="w-full">
                            <p class="w-8/12 text-red-600
                                font-medium text-sm">                            
                                <span class="block">{{networkErrorMessage}}</span>
                            </p>
                            <ul class="list-disc w-full">
                                <li *ngFor="let message of validationErrorMessages"
                                    class="text-xs block text-red-700">
                                    <span>{{message}}</span>
                                </li>
                            </ul>

                        </div>
                        <button mat-raised-button class="w-4/12"
                            [disabled]="isWorking || form.invalid"
                            color="primary">
                            <span *ngIf="!isWorking">CHANGE PIN</span>
                            <span *ngIf="isWorking">PLEASE WAIT...</span>
                        </button>
                    </div>
                </section>
            </form>
        </section>
    </section>
</section>