
<div class="flex items-stretch h-full">
    <div class="bg-gray-300 w-3/12 p-4 text-black">
        <span class="my-4 space-y-4 block">        
            <a href="add-distributor" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add Distributor
            </a>

            <a href="/signin" class="block">sign out</a>
        </span>

        <p class="text-lg">UpLine Stages</p>
        <button [matMenuTriggerFor]="menu" mat-raised-button>
            View Stage Generation <mat-icon>arrow_forward</mat-icon>
        </button>
        <mat-menu #menu>
            <a mat-menu-item *ngFor="let stage of levels"
                [href]="'/distributors/' + loggedInDistributor?.username + 
                        '/generation/' + stage?.name">
                    {{stage?.name}} Generation
            </a>
        </mat-menu>
        <!-- <ul class="space-y-2">
            <li *ngFor="let stage of levels">
                <a 
                    mat-button
                    [href]="'/distributors/' + loggedInDistributor?.username + 
                        '/generation/' + stage?.name">
                    {{stage?.name}} Down lines
                </a>
            </li>
        </ul> -->
    </div>
    <div class="bg-white w-9/12 p-4">
        <router-outlet></router-outlet>
        <!-- <ul class="flex items-center justify-center">
            <li *ngFor="let distributor of generationDownLines">
                <app-generation-item [distributor]="distributor"></app-generation-item>
            </li>
        </ul> -->
    </div>
</div>